{% extends 'base.html' %}

{% block extra_css %}
<style>
body {
    margin: 0px;
    padding: 10px;
}
td {
    margin: 0px;
    padding: 3px;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}
.node text { font: 12px sans-serif; }
.link {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}
.link_text {
    font: 10px sans-serif;
    stroke-width: none;
    color: #cc0;
}
</style>
{% endblock %}


{% block extra_js %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
function callback(data) {
    $( "#target" ).empty();
    var content = "<table border='1'>";
    content += "<tr><th width='40%'>Summary</th>";
    content += "<th width='40%'>Shorten Summary</th>";
    content += "<th>Keywords</th></tr>";
    for (i = 0; i < data.short.length; i++) {
        content += "<tr><td>" + String(data.short[i][0]).replace(/\_/g, "") + "</td>";
        content += "<td>" + String(data.short[i][1]).replace(/\_/g, "") + "</td>";
        content += "<td>" + String(data.short[i][2]).replace(/\_/g, "<br>") + "</td></tr>";
    }
    content += "</table>";
    $( "#target" ).append( content );
}
$( "#summary" ).click(function() {
    $( "#target" ).empty();
    $.post( "/summary/", {'text': $( "#text" ).val()}, callback );
});
</script>
{% endblock %}

{% block body %}
{% csrf_token %}
<textarea id="text" rows="1" cols="80">她想用這樣修圖的方式，來成為她認為我想讓她成為的樣子。</textarea>
<button type="button" id="summary">Summarize</button>
<div id="target"></div><br />
{% endblock %}

